<h2>Think & Share</h2>
<div class="porfa">
<div class="example-container">  
    <mat-form-field>
        <input class="tit" #ideaName matInput  matInput maxlength="100" placeholder="Titulo Idea">
        <mat-hint align="end">{{ideaName.value.length}} / 100</mat-hint>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Idea Libre">
          <mat-option *ngFor="let clas of clasif" [value]="clas.value">
            {{clas.viewValue}}
          </mat-option>
        </mat-select>
        <mat-hint align="end">Ingrese si su idea pertenece a un desafio ^</mat-hint>
      </mat-form-field>
    
  <mat-form-field>
    <textarea class="desc" #ideaDesc  matInput maxlength="280" placeholder="Descripcion Idea"></textarea>
    <mat-hint align="end">{{ideaDesc.value.length}} / 280</mat-hint>
  </mat-form-field>

  <!--<div>  
      <input class="desc" #ideaDesc />
  </div> --> 
  <!-- (click) passes input value to add() and then clears the input -->
  <div> 
      <button class="post" mat-raised-button (click)="add(ideaName.value,ideaDesc.value); ideaName.value=''; ideaDesc.value=''">
      Publicar</button>
      </div>

<!--</div>
<div class="des">
    <ul class="heroes">
        <li *ngFor="let desafio of desafios" (click)="onSelect(desafio)">
          <span class="badge">{{desafio.id}}</span> {{desafio.titulo}}
        </li>
      </ul>
    </div>
</div>-->


<div class="lista-ideas">
<ul>
  <li *ngFor="let idea of ideas">
    <a routerLink="/idea/{{idea.id}}">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ idea.titulo}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{idea.descripcion}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button class="like" mat-icon-button (click)="onClickMe()">
          <mat-icon>favorite</mat-icon></button>{{idea.meGusta}}
      </mat-card-actions>
    </mat-card>
    </a>
  </li>
</ul>
</div>
